<div id="sidebar" class="active" >
  <div class="sidebar-wrapper active" >
      <div class="sidebar-header">
          <div class="d-flex justify-content-between">
              <div class="logo">
                  <a routerLink="/home"><img src="assets/images/logo/logo.png" alt="Logo"></a>
              </div>
              <div class="toggler">
                  <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
              </div>
          </div>
      </div>
      <div class="sidebar-menu">
          <ul class="menu">
              <li class="sidebar-title">Menu</li>

              <li class="sidebar-item active">
                  <a routerLink="/home" class="sidebar-link">
                      <i class="bi bi-grid-fill"></i>
                      <span>Tableau de bord</span>
                  </a>
              </li>

              <li class="sidebar-item">
                  <a routerLink="/home/list-articles" class="sidebar-link">
                      <i class="bi bi-file-earmark-medical-fill"></i>
                      <span>Les articles</span>
                  </a>
              </li>

              <li class="sidebar-item">
                  <a routerLink="/home/add-articles" class="sidebar-link">
                      <i class="bi bi-pen-fill"></i>
                      <span>Ajouter un article</span>
                  </a>
              </li>

          </ul>
      </div>
      <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
  </div>
</div>
